/* Global Styles */

body {
    font-family: "Raleway", sans-serif;
    padding-top: 50px;
    height: 100%;
}

body,
.main,
.article {
    background-color: #333;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.shadow {
    box-shadow: -1px 12px 30px -4px rgba(0, 0, 0, .4);
}


/* Header Bar/Nav */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
    border: 0;
    box-shadow: 5px 9px 20px -8px rgba(204, 204, 204, .2);
}


/* Sidebar */

.sidebar {
    transition: all 0.2s ease;
    background-color: #141d2c;
    color: white;
    z-index: 20;
}

.cities {
    width: 100%;
    margin-top: 10px;
    padding: 0;
}

.cities li {
    padding: 5px;
    list-style: none;
}

.cities li:hover {
    color: #ccc;
    text-decoration: underline;
    cursor: pointer;
}

label {
    font-size: 15px;
}


/* Main content */

.main {
    padding: 20px;
    z-index: 10;
}

.main .page-header {
    margin-top: 0;
}

.article {
    margin: 0 10px 10px 0;
    display: inline-block;
    padding: 20px;
    color: white;
    border-radius: 5px;
}

.article p {
    margin: 0;
    font-size: 13px;
}

.foursquare {
    background-color: white;
}

.foursquare-header {
    font-size: 19px;
    margin-left: 20px;
    padding-top: 9px;
}

h3 {
    font-size: 16px;
    margin-top: 0;
}


/* Google Map */

.google-map {
    height: 500px;
}

#map {
    height: 100%;
}


/* Mobile Viewport Styles */

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: -250px;
        padding-top: 30px;
    }
    .sidebar.show {
        left: 0;
    }
    /* Navbar */
    .navbar-toggle {
        float: left !important;
    }
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        border-right: 1px solid #eee;
    }
    .main {
        padding: 0 40px;
    }
}
